In [25]:
import pandas as pd

In [26]:
df1=pd.read_csv('/home/sathish/Downloads/merged_data1.csv')
df1

           ImdbId  ...                                               cast
0      tt10648440  ...  [{'name': 'Jo Jung-Suk', 'name_id': 'nm4983186...
1       tt5253282  ...  [{'name': 'J.K. Simmons', 'name_id': 'nm079977...
2       tt0072752  ...  [{'name': 'Sirpa Lane', 'name_id': 'nm0485562'...
3       tt0037954  ...  [{'name': 'Errol Flynn', 'name_id': 'nm0001224...
4       tt6399158  ...  [{'name': 'Ji Chang-Wook', 'name_id': 'nm38656...
...           ...  ...                                                ...
10245   tt0176102  ...  [{'name': 'Joseph Di Mambro', 'name_id': 'nm02...
10246   tt0171957  ...  [{'name': 'Andrey Kharitonov', 'name_id': 'nm0...
10247   tt0170091  ...  [{'name': 'Gábor Harsányi', 'name_id': 'nm0366...
10248   tt0169775  ...  [{'name': 'Ján Rohác', 'name_id': 'nm0737631'}...
10249   tt0169204  ...  [{'name': 'Ali Allen', 'name_id': 'nm0020252'}...

[10250 rows x 13 columns]

In [6]:
list_values = df['cast'].tolist()
new_df = pd.DataFrame({'cast': list_values})

In [7]:
new_df

                                                    cast
0      [{'name': 'Jo Jung-Suk', 'name_id': 'nm4983186...
1      [{'name': 'J.K. Simmons', 'name_id': 'nm079977...
2      [{'name': 'Sirpa Lane', 'name_id': 'nm0485562'...
3      [{'name': 'Errol Flynn', 'name_id': 'nm0001224...
4      [{'name': 'Ji Chang-Wook', 'name_id': 'nm38656...
...                                                  ...
10245  [{'name': 'Joseph Di Mambro', 'name_id': 'nm02...
10246  [{'name': 'Andrey Kharitonov', 'name_id': 'nm0...
10247  [{'name': 'Gábor Harsányi', 'name_id': 'nm0366...
10248  [{'name': 'Ján Rohác', 'name_id': 'nm0737631'}...
10249  [{'name': 'Ali Allen', 'name_id': 'nm0020252'}...

[10250 rows x 1 columns]

In [8]:
lists = new_df

counts = [len(lst) for lst in lists]

print(counts)

[4]

In [22]:
import pandas as pd

# Create a sample DataFrame
data =dg
df = pd.DataFrame(data)

# Define a function to apply to each row
# Define a function to apply to each row

def apply_function(row):

    return len((row)


# Apply the function to each row

df['result'] = df.apply(apply_function, axis=1)


print(df)

NameError: name 'count' is not defined

In [14]:
dg=df["cast"]

In [15]:
dg

0        [{'name': 'Jo Jung-Suk', 'name_id': 'nm4983186...
1        [{'name': 'J.K. Simmons', 'name_id': 'nm079977...
2        [{'name': 'Sirpa Lane', 'name_id': 'nm0485562'...
3        [{'name': 'Errol Flynn', 'name_id': 'nm0001224...
4        [{'name': 'Ji Chang-Wook', 'name_id': 'nm38656...
                               ...
10245    [{'name': 'Joseph Di Mambro', 'name_id': 'nm02...
10246    [{'name': 'Andrey Kharitonov', 'name_id': 'nm0...
10247    [{'name': 'Gábor Harsányi', 'name_id': 'nm0366...
10248    [{'name': 'Ján Rohác', 'name_id': 'nm0737631'}...
10249    [{'name': 'Ali Allen', 'name_id': 'nm0020252'}...
Name: cast, Length: 10250, dtype: object

In [37]:
import pandas as pd

# Create a sample DataFrame
data = dg
df = pd.DataFrame(data)

# Define a function to count the number of values in each row
def count_values(row):

    comma_count = 1

    for s in row.values:

        if isinstance(s, str):

            comma_count += s.count(',')

    return comma_count

#print(ctr)

# Apply the function to each row
df['count'] = df.apply(count_values, axis=1)

print(df)

                                                    cast  count
0      [{'name': 'Jo Jung-Suk', 'name_id': 'nm4983186...      8
1      [{'name': 'J.K. Simmons', 'name_id': 'nm079977...      8
2      [{'name': 'Sirpa Lane', 'name_id': 'nm0485562'...      8
3      [{'name': 'Errol Flynn', 'name_id': 'nm0001224...      8
4      [{'name': 'Ji Chang-Wook', 'name_id': 'nm38656...      8
...                                                  ...    ...
10245  [{'name': 'Joseph Di Mambro', 'name_id': 'nm02...      8
10246  [{'name': 'Andrey Kharitonov', 'name_id': 'nm0...      8
10247  [{'name': 'Gábor Harsányi', 'name_id': 'nm0366...      8
10248  [{'name': 'Ján Rohác', 'name_id': 'nm0737631'}...     10
10249  [{'name': 'Ali Allen', 'name_id': 'nm0020252'}...      8

[10250 rows x 2 columns]

In [31]:
df = df.rename(columns={ImdbId 	_id 	name 	poster_url 	year 	certificate 	runtime 	genre 	ratingValue 	summary_text 	ratingCount","director":"","cast'})

KeyError: ' director'